.admin-menu {
    width: 100%;
    height: auto;
    background-color: rgb(128, 60, 60);

    ul {
        padding: 0;

        li {
            list-style: none;
            text-decoration: none;
            height: 60px;
            width: 100%;

            h4 {
                width: 70%;
                height: 100%;
            }

            .admin-menu-btn {
                width: 15%;
                height: 90%;
            }
        }
    }
}

.admin-modal-input {

    border: $maincolor solid 2px;
    height: 40px;
    padding: 5px;
    border-radius: 50px;
    outline-color: none;
    width: 200px;

    &:focus {
        outline: none;
    }
}
.ratingcol {
    .trashbtn {
        right: 80px !important;
    }
    .fa-trash:hover {
        font-size: 2.5rem !important;
    }
}
.trashbtn {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    border: none;

    .fa-trash {
        transition: all .3s ease;
        color: rgba(255, 0, 0, 0.644);
    }
}

.obchod-menu {
    .fa-trash:hover {
        color: rgb(255, 0, 0);
        font-size: 1.3rem !important;
    }
}

.objednavky-card {
    background-color: $maincolor !important;
}

.large-modal {
    margin-top: 8vh;
    z-index: 15;
}

.modal-bg {
    background-color: white !important;
    z-index: 15;

}

.modal-body {
    max-height: calc(100vh - 400px);
    overflow-y: auto;
}

.modal-lg-footer {
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    background-color: white;
}