.payment-product-jmeno {
    width:35%;
}
.payment-product-size {
    width:15%;
}
.payment-product-pocet {
    width:15%;
}
.payment-product-cena {
    width:35%;
}
.osobniudaje {
    @include responsive(tablet) {
        text-align: center !important;
    }
  
}
.adress-form {
    width: 100%;

    .preprava-group {
        flex-wrap: wrap;
        width: 90%;
        position:relative;
        margin-left: 5vh;
        .preprava-checkbox {
            width: 70%;
        }
        .preprava-fotka {
            width: 30%;
        }
        p {
            position:absolute;
            left: -35px;
            top: -5px;
        }
        input[type="checkbox"] {
            display: none;
        }
        label {
            cursor: pointer;
            position:relative;
        }
        label::before {
            content: "";
            cursor: pointer;
            z-index: 999;
            background: url('public/images/checked_circle_svg.svg');
            background-position: center;
            background-size: contain;
            background-color:rgb(0, 197, 0);
            border-radius: 50%;
            width: 32px;
            height: 32px;
            position:absolute;
            left: -42px;
            top: -6px;
    
            transform: scale(0) rotateZ(180deg);
            transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
        }
        input[type="checkbox"]:checked + label::before {
            transform: scale(1) rotateZ(0deg);
        }
        label::after {
            cursor: pointer;
            content: "";
            border: 2px solid rgb(0, 197, 0);
            width: 32px;
            height: 32px;
            position:absolute;
            left: -42px;
            top: -6px;
            border-radius: 50%;
        }
    }

    
   
}