.kosiknav {
    position:relative;
    .kosikcount {
        position:absolute;
        right:0;
        top:0;
    }
}
.kosikmenu {
    background-color: $maincolor;
    margin-top: 10vh;
    width: 100%;
    min-height: 200px;
    border-radius: 50px;
    @media screen and (max-width: 1200px)  {
       width: 50%;
    }
    @include responsive(tablet) {
        width: 70%;
    }
    @include responsive(phone) {
        width: 80%;
    }
    @include responsive(big-desktop) {
        width: 100%;
    }
}
.checkoutcol {
    padding-right: 20% !important;
    @media screen and (max-width: 1200px)  {
        padding-right: 15px !important;
     }
}
.kosik-main {
    width: 100%;
    height: 50px;
    background-color: $maincolor;
}
.kosik-item {
    width: 100%;
    height: 100px;
     background-color: rgb(145, 145, 145);
}
.kosik-fotka {
    width: 10%;
    height: 100%;
}
.kosik-name {
    width: 20%;
    height: 100%;
}
.kosik-size {
    width: 20%;
    height: 100%;
}
.kosik-cena {
    width: 20%;
    height: 100%;
}
.kosik-pocet {
    width: 20%;
    height: 100%;
    input {
        width: 20%;
    }
}
.kosik-btn {
    width: 10%;
    height: 100%;
    button {
        background-color: rgba(0, 255, 255, 0);
        border: none;
        .fa-times {
            color: rgb(180, 43, 43);
            font-size: 2rem !important;
            padding:0;
            &:hover {
                color: red;
            }
        }
    }
}