@mixin responsive($break) {
    @if $break == phone {
        @media screen and (max-width: 770px)  {
            @content
        };
    }
    @if $break == tablet {
        @media screen and (max-width: 991px)  {
            @content
        };
    }
    @if $break == small-desktop {
        @media screen and (max-width: 1400px)  {
            @content
        };
    }
    @if $break == big-desktop {
        @media screen and (min-width: 1800px)  {
            @content
        };
    }
}
