nav {
    z-index: 9999;
}
.activemuzi {
    color:aqua !important;
    font-weight: bold !important;
    border-bottom: 5px solid aqua !important;
}
.activezeny {
    color:rgb(238, 23, 238) !important;
    font-weight: bold !important;
    border-bottom: 5px solid rgb(238, 23, 238) !important;
}
.zeny:hover {
    transition: color .3s ease;
    color: rgb(238, 23, 238)!important;
    border-bottom: 5px solid rgb(238, 23, 238) !important;
}
.muzi:hover {
    transition: color .3s ease;
    color: aqua !important;
    border-bottom: 5px solid aqua !important;
}
.fixed {
    position: fixed !important;
    width: 100% !important;
}

.zeny {
    border-bottom: 5px solid rgba(238, 23, 238, 0);
    padding: 0 !important;
}
.muzi {
    border-bottom: 5px solid rgba(238, 23, 238, 0) ;
    padding: 0 !important;
}