.sort-menu {
    background-color: $maincolor;
    height: 45px;

    button {
        height: 80%;
    }
}

.vyhledatprodukt {
    @include responsive(phone) {
        visibility: hidden;
        position: absolute;
    }
}

.menucol {
    @include responsive(tablet) {
        flex: none !important;
        width: 10vh !important;
        padding-right: 0 !important;
    }
}

.productscol {
    @include responsive(tablet) {
        padding-left: 0 !important;
    }
}

.obchod-menu {
    position: relative;
    width: 100%;
    height: auto;

    @include responsive(tablet) {
        height: 5vh;
        padding-top: 5vh;
        background-color: $maincolor;
    }
   
    .obchod-menu-icon {
        visibility: hidden;
        position: absolute;

        @include responsive(tablet) {
            visibility: visible;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2rem;
        }
    }

    .obchod-menu-content {
        @include responsive(small-desktop) {
            visibility: visible;
        }
        @include responsive(tablet) {
         
            width: 30vh;
            visibility: hidden;
            position:absolute;
        }
        @include responsive(big-desktop) {
            visibility: visible;
        }
    }
    .obchod-menu-black {
        background-color: $maincolor;
        
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
    
            a {
                text-decoration: none;
            }
    
            li {
                list-style: none;
                font-size: 1rem;
                color: black;
    
                &:hover {
                    background-color: rgba(82, 82, 82, 0.521);
                }
            }
        }
    }
}

.podkategorie {
    position: relative;
    height: 40px;
}

.checkboxsize {
    visibility: hidden;
}

.muzimenu {
    color: aqua;
}

.zenymenu {
    color: rgb(238, 23, 238);
}

.admin {
    background-color: rgba(199, 93, 93, 0.521) !important;
}

.hr {
    background-color: black !important;
    height: 1px !important;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.grid {
    flex-wrap: wrap;
    width: 100%;

    @include responsive(tablet) {
        width: 80%;
    }
}

.grid-item {
    position: relative;
    width: 30%;
    height: 350px;

    @include responsive(tablet) {
        width: 45%;
    }

    @include responsive(phone) {
        width: 100%;
        height: 50vh;
    }

    .fa-trash:hover {
        color: rgb(255, 0, 0);
        font-size: 3rem !important;
    }

    .slevaicon {
        position: absolute;
        left: 3%;
        top: 3%;
        width: 20%;
        height: 8%;
        span {
            @include responsive(phone) {
                font-size: 1.3rem !important;
            }
        }
    }

    a:hover {
        text-decoration: none;
    }

    .item-fotka {
        width: 100%;
        height: 70%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .shop-karta-bg {
        height: 30%;
        width: 100%;
        background-color: #fbf2a0;
        .item-jmeno {
            height: 50%;
            width: 100%;

            h4 {
                @include responsive(phone) {
                    font-size: 1.5rem;
                }

                text-align: center;
                color: black !important;
            }
        }

        .item-cena {
            height: 50%;
            width: 100%;

            .cena {
                width: 60%;
                height: 100%;

                h5 {
                    @include responsive(phone) {
                        font-size: 1.5rem;
                    }
                }
            }

            .gender {
                width: 15%;
                height: 100%;

                .fa-female,
                .fa-male {
                    font-size: 2rem !important;

                    @include responsive(phone) {
                        font-size: 3.4rem !important;
                    }
                }
            }

            .shop-btn {
                border-top-left-radius: 20%;
                width: 25%;
                height: 100%;
                position: relative;
                background-color: rgba(0, 0, 0, 0.904);

                button {
                    height: 100%;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.623);
                    padding: 0;
                    border: none;

                    &:hover {
                        .shop-icon-bought::before {
                            transition: all .3s ease;
                            font-family: "Font Awesome 5 Free";
                            content: "\f00d";
                            font-weight: 900;
                            color: rgb(230, 43, 19);
                        }
                        .fa-shopping-basket {
                            transition: color .3s ease;
                            color: orange;
                        }
                    }
                    .shop-icon-bought::before {
                        @include responsive(phone) {
                            font-size: 2rem !important;
                        }
                        font-family: "Font Awesome 5 Free";
                        content: "\f00c";
                        font-weight: 900;
                        color: rgb(50, 236, 25);
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }

                    .fa-shopping-basket {
                        @include responsive(phone) {
                            font-size: 2rem !important;
                        }

                        color: white;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);

                        &:hover {
                            transition: color .3s ease;
                            color: orange;
                        }
                    }
                }
            }
        }
    }
}

