.rating-box {
    height: 100px;
    width: 100%;

    .rating-username {
        height: 100%;
        width: 30%;
    }

    .rating-text {
        height: 100%;
        width: 70%;
    }

}

.rating-size  {
    top: 10px;
    right: 10px;
    font-size: 4.5rem;
}

.ratingChoice {
    font-size: 4.5rem;
}

.rating-up:hover {
    color: limegreen !important;
}

.rating-down:hover {
    color: red !important;
}

.rating-thumb input {
    display: none;
}

.rating-thumb label {
    cursor: pointer;
}

.rating-thumb #rating-up:checked ~ #uplabel {
    color: limegreen !important;
}

.rating-thumb #rating-down:checked ~ #downlabel {
    color: red !important;
}

.rating-stars input {
    display: none;
}

.rating-stars label {
    font-size: 40px;
    cursor: pointer;
    color: #444;
}

.rating-stars input:not(:checked)~label:hover,
.rating-stars input:not(:checked)~label:hover~label {

    color: #fd4;
}

.rating-stars input:checked~label {
    color: #fd4;
}

.clearbutton {
    background: transparent;
    border: none !important;
}

.carousel-product {
    height: 300px;
    background-color: #fbf2a0;

    .carousel-product-fotka {
        height: 200px;
    }

    .carousel-product-name {
        height: 45px;
    }

    .carousel-product-cena {
        height: 45px;
    }
}
.star-rating {
    height: 50px !important;
}
.product-fotka {
    max-width: 400px;
    max-height: 400px;
}

#productSizeSelect {
    width: 100%;
    height: 20px;
}

.product-text {
    background-color: $maincolor;
    height: 100%;
    border-radius: 50px;

    .product-popis {
        min-height: 300px;
    }

    .product-jmeno {
        position: relative;
    }

    .editbtn {
        position: absolute;
        top: 30px;
        right: 30px;
        background-color: rgba(255, 255, 255, 0);
        border: none;

        .fa-pencil-alt {
            transition: all .3s ease;
            color: $orange;
            font-size: 2rem;

            &:hover {
                font-size: 3rem !important;
            }
        }
    }
    .statbtn {
        position: absolute;
        top: 30px;
        right: 80px;
        background-color: rgba(255, 255, 255, 0);
        border: none;
        .fa-chart-bar {
            transition: all .3s ease;
            color: rgb(62, 204, 252);
            font-size: 2rem;

            &:hover {
                font-size: 3rem !important;
            }
        }
    }

    .cenabtn {
        width: 100%;
        display: flex;

        .product-cena {
            width: 20%;
        }

        .product-size {
            width: 25%;
            margin: 0;
        }
        
        .product-pocet {
            width: 10%;
        }

        .product-btn {
            width: 25%;
        }
    }
}

.trashbtn-velikost {
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    padding: 0;
    border: none;

    .fa-trash {
        transition: all .3s ease;
        color: rgba(255, 0, 0, 0.644);

        &:hover {
            font-size: 3rem !important;
        }
    }
}