// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

.font-big {
    font-size: 3rem !important;
}
.font-medium {
    font-size: 2rem !important;
}
.font-small {
    font-size: 1.5rem !important;
}
.font-little {
    font-size: 0.8rem !important;
}
.text-black {
    color:black !important;
}
.text-red {
    color: red !important;
}
.text-yellow {
    color: yellow !important;
}
.bg-yellow {
    background-color: yellow !important;
    border: 1px solid black;
}
.muzi-karta-bg {
    background-image: linear-gradient(aqua, white);
}

.zeny-karta-bg {
    background-image: linear-gradient(rgb(238, 23, 238), white);
}
.bg-grey {
    background-color: grey !important;
}
.item-karta-bg {
    background-color: rgb(145, 145, 145);
}
.bg-lightgrey {
    background-color: rgb(175, 175, 175) !important;
}

// Colors
$maincolor: #1a1a1a;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
