// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'media';
@import 'variables';
@import 'obchod';
@import 'nav';
@import 'product';
@import 'kosik';
@import 'checkout';
@import 'admin';
@import 'libraries';


// Bootstrap
@import '~bootstrap/scss/bootstrap';
html {
    font-size: 100%;
    @include responsive(small-desktop) {
        font-size: 93.75%;
    }
    @include responsive(tablet) {
        font-size: 87.5%;
    }
    @include responsive(phone) {
        font-size: 81.25%;
    }
    @include responsive(big-desktop) {
        font-size: 100%;
    }
}
.main {
    min-height: 100vh;
}
.logincard {
    background-color: $maincolor !important;
    border-radius: 50px !important;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.438) !important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px !important;
    @include responsive(tablet) {
        width: 600px !important;
    } 
    @include responsive(phone) {
        width: 100vw !important;
    } 
}

.sticky-col {
    z-index: 10;
    position: -webkit-sticky;
    position: sticky !important;
    top: 1vh;
}
.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    min-height: 100vh;
    
  }



